# Secrets - CRITICAL
.env
src/.env
src\.env

# Python compiled files
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/
env/

# IDE settings (Optional)
.vscode/

memory.json

data\
data/
data/*
data\*
data/memory.json